@import '../../variables.scss';

.card{
    
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;

    .card__price{
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        line-height: 24px;
        color: $base-color;
        vertical-align: center;
        margin: 10px;
    }
    .card__titles{
        display: grid;
        grid-template-columns: 30% 35% 25%;
        
        grid-template-areas: 'title1 title2 title3';                                     
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #A0B0B9;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 18px;
        text-align: center;

        @media(min-width:420px){
            font-size: 12px;
            gap: 20px;
        }

        
        
    }
    

    
    .card__info{
        text-align: center;
        margin: 10px;
        grid-area:info1;
    }
    .card__info-data{
        display: grid;
        grid-template-columns: 30% 35% 25%;        
        grid-template-areas: 'info1 info2 info3';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 21px;
        color: #4A4A4A;

        @media(min-width:420px){
            font-size: 12px;
            gap: 20px;
            font-size: 14px;
        }

        
    }
}